<!DOCTYPE html>
<html>
<head>
  <title>OnlineShopping</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class ='<%= controller.controller_name %>' >
	<div id = "banner" >
		<%= image_tag("logo.jpg") %>
		<%= @page_title || "Online Store" %>
	</div>
	<div id = "columns" >
		<div id = "side" >
			<ul>
				<li><%= Time.now %></li>
				<li><a href="/store/index">Home</a></li>
				<li><a href="http://www..../faq">Questions</a></li>
				<li><a href="http://www..../news">News</a></li>
				<li><a href="http://www..../contact">Contact</a></li>
			</ul>
		</div>

		<div id = "main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
